.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.header .header_title {
    font-size: 24px;
    font-weight: bold;
    color: #5551FF;
}

.header .header-chat {
    display: flex;
    align-items: center;
}

.header .header_icon {
    font-size: 22px;
    margin-left: 25px;
    cursor: pointer;
}

.header .more {
    margin-right: 10px;
    font-size: 10px;
    color: #5551FF;
}