.nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 50px;
    left: 0px;
    bottom: 0px;
    border-top: #605BFE 1px solid;
}

.nav .nav_list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}

.nav .nav_list-link {
    position: relative;
}

.nav .nav_badge {
    position: absolute;
    top: -10px;
    right: -8px;
    color: white;
    background-color: salmon;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 14px;
}

/* @keyframes shownavbar {
    from{
        transform: translateY(50px);
    }
    to{transform: none;}
}

.nav {
    transform: translateY(80px);
    animation: shownavbar 0.5s ease-in-out forwards; 
    animation-delay: 0.3s;
} */